# PostgreSQL Connection String (Local Docker Dev)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/poco_eldercare?schema=public&connection_limit=10&pool_timeout=15"

# JWT Secrets
JWT_EXTERNAL_SECRET="dev-external-secret-change-in-production-min-32-chars-long"
JWT_INTERNAL_SECRET="dev-internal-secret-change-in-production-min-32-chars-long"
JWT_REFRESH_SECRET="dev-refresh-secret-change-in-production-min-32-chars-long"

# Environment
NODE_ENV="development"
PORT=4000
