# Dependencies
node_modules/
**/node_modules/

# Next.js / Turbo
.next/
**/.next/
.turbo/
**/.turbo/
dist/
**/dist/
build/
**/build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Temp & Scratch
.temp/
.tmp/
tmp/
test.txt

.agents/

